/*
* SPDX-License-Identifier: CC0-1.0
*
*/

:root {
    --bg-secondary-color: #fff;
    --font-color: #000;
}

body {
    font-family: sans-serif;
}

a {
    color: #0073e6;
    text-decoration: none;
}
a:hover {
    color: #054fb9; 
    text-decoration: underline;
    opacity: 1 !important;
}

/* Pour les évènements particuliers (assemblée générale par exemple) */
.events {
    margin: auto auto 1.5em auto;
    background: #adff2f;
    /* Monochromatic colors -> https://encycolorpedia.com/adff2f */
    border-left: 4px solid #5f9e00;
    padding: 1em 1em .5em 70px;
    min-height: 68px;
    overflow: hidden;
    background-image: url(./img/pin.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    width: 60%;
    box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.15);
}
.events p {
    color: #000;
}
.events p a {
    color: #000;
    text-decoration: underline;
}
.events p a:hover {
    text-decoration: none;
    color: #000;
}

.calendar {
    background: url(./img/calendar.png) no-repeat 0;
    padding-left: 1.6em;
}
.geo {
    background: url(./img/geo-fill.png) no-repeat 0;
    padding-left: 1.6em;
}
.building {
    background: url(./img/building.png) no-repeat 0;
    padding-left: 1.6em;
}
.bus-station {
    background: url(./img/bus.png) no-repeat 0;
    padding-left: 1.6em;
}
.pdf-file {
    background: url(./img/file-pdf.png) no-repeat 0;
    padding-left: 1.6em;
}
.envelope {
    background: url(./img/envelope.png) no-repeat 0;
    padding-left: 1.6em;
}
.people {
    background: url(./img/people.png) no-repeat 0;
    padding-left: 1.6em;
}

svg {
    vertical-align: middle;
}
svg path {
    stroke: #0073e6;
}
svg:hover path {
    stroke: #054fb9;
}

@media only screen and (min-device-width: 768px) {
    .media-center-zoom {
        text-align: center;
        overflow: hidden;
    }
    .media-center-zoom img {
        width: 605px;
        -webkit-transition: transform .3s;
        transition: transform .3s;
    }
    .media-center-zoom img:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        cursor: zoom-in;
    }
}

@media not (screen and (max-device-width: 768px)) {
    .media-center-zoom {
        display: none;
    }
}

/* Leaflet */
#map {
    border: 1px solid #000;
    height: 300px;
    width: 90%;
    margin: auto auto;
}

/* Header */
#top {
    margin: 2em 2.5em 0;
}

/* Footer */
#footer p {
    text-align: center;
    font-size: .8em;
    color: #565656;
}
#footer a {
    text-decoration: underline;
    color: #565656;
}
#footer a:hover {
    text-decoration: none;
    color: #444;
}
