<p id="gotop"><a href="#top" title="Haut de page [t]" accesskey="t"><svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
 <path d="m12 22.5c0.41406 0 0.75-0.33594 0.75-0.75v-17.691l4.7188 4.7227c0.29297 0.29297 0.76953 0.29297 1.0625 0s0.29297-0.76953 0-1.0625l-6-6c-0.14062-0.14062-0.33203-0.21875-0.53125-0.21875s-0.39062 0.078125-0.53125 0.21875l-6 6c-0.29297 0.29297-0.29297 0.76953 0 1.0625s0.76953 0.29297 1.0625 0l4.7188-4.7227v17.691c0 0.41406 0.33594 0.75 0.75 0.75" fill-rule="evenodd"/>
</svg></a></p>

<div id="footer" role="contentinfo">
  <p>{{tpl:SysPoweredBy}}</p>
</div>
{{tpl:SysBehavior behavior="publicFooterContent"}}
