<div id="top" role="banner">
  <h1><a href="{{tpl:BlogURL}}"><img src="{{tpl:BlogThemeURL}}/img/logo-75.png" alt="logo de l'association AviGNU" title="{{tpl:BlogName encode_html="1"}}"/></a></h1>

  <!-- # --BEHAVIOR-- publicTopAfterContent -->
  {{tpl:SysBehavior behavior="publicTopAfterContent"}}
</div>
<p id="prelude" role="navigation"><a href="#main">{{tpl:lang To content}}</a> |
  <a href="#blognav">{{tpl:lang To menu}}</a> |
  <a href="#search">{{tpl:lang To search}}</a></p>
