{{tpl:extends parent="__layout.html"}}
<tpl:Block name="head-title">
  <title>{{tpl:lang Search}} - {{tpl:SysSearchString encode_html="1"}} - {{tpl:BlogName encode_html="1"}}<tpl:PaginationIf start="0"> - {{tpl:lang page}} {{tpl:PaginationCurrent}}</tpl:PaginationIf>
  </title>
</tpl:Block>
<tpl:Block name="meta-robots">
  <meta name="ROBOTS" content="{{tpl:BlogMetaRobots robots="NOINDEX,NOARCHIVE"}}" />
</tpl:Block>
<tpl:Block name="head-linkrel">
  <link rel="contents" href="{{tpl:BlogArchiveURL}}" title="{{tpl:lang Archives}}" />
  <tpl:Entries no_content="1">
    <tpl:EntriesHeader>
      <tpl:Pagination>
        <tpl:PaginationIf end="0">
          <link rel="prev" title="{{tpl:lang previous entries}}" href="{{tpl:PaginationURL offset="1"}}" />
        </tpl:PaginationIf>
        <tpl:PaginationIf start="0">
          <link rel="next" title="{{tpl:lang next entries}}" href="{{tpl:PaginationURL offset="-1"}}" />
        </tpl:PaginationIf>
      </tpl:Pagination>
    </tpl:EntriesHeader>
    <link rel="chapter" href="{{tpl:EntryURL}}" title="{{tpl:EntryTitle encode_html="1"}}" />
  </tpl:Entries>
  <link rel="meta" type="application/xbel+xml" title="Blogroll" href="{{tpl:BlogrollXbelLink}}" />
</tpl:Block>
<tpl:Block name="body-tag">

  <body class="dc-search">
</tpl:Block>
<tpl:Block name="main-content">
  <div id="content-info">
    <h2>{{tpl:lang Search}}</h2>
    <tpl:SysIf search_count="==0">
      <p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned no result."}}</p>
    </tpl:SysIf>
    <tpl:SysIf search_count="==1">
      <p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> result."}}</p>
    </tpl:SysIf>
    <tpl:SysIf search_count="&gt;1">
      <p>{{tpl:SysSearchString encode_html="1" string="Your search for <em>%1$s</em> returned <strong>%2$s</strong> results."}}</p>
    </tpl:SysIf>
  </div>
  <tpl:Entries>
    <div id="p{{tpl:EntryID}}" class="post {{tpl:EntryIfOdd}} {{tpl:EntryIfFirst}}" lang="{{tpl:EntryLang}}" role="article">
      <h2 class="post-title"><a
      href="{{tpl:EntryURL}}">{{tpl:EntryTitle encode_html="1"}}</a></h2>
      <p class="post-info">{{tpl:lang By}} {{tpl:EntryAuthorLink}}
        {{tpl:lang on}} {{tpl:EntryDate}}, {{tpl:EntryTime}}
        <tpl:EntryIf has_category="1">
          - <a href="{{tpl:EntryCategoryURL}}">{{tpl:EntryCategory encode_html="1"}}</a>
        </tpl:EntryIf>
      </p>
      <tpl:EntryTags>
        <tpl:TagsHeader>
          <ul class="post-tags">
        </tpl:TagsHeader>
        <li><a href="{{tpl:TagURL}}">{{tpl:TagID}}</a></li>
        <tpl:TagsFooter>
          </ul>
        </tpl:TagsFooter>
      </tpl:EntryTags>
      <!-- # --BEHAVIOR-- publicEntryBeforeContent -->
      {{tpl:SysBehavior behavior="publicEntryBeforeContent"}}
      <!-- # Entry with an excerpt -->
      <tpl:EntryIf extended="1">
        <div class="post-content">{{tpl:EntryExcerpt}}</div>
        <p class="read-it"><a href="{{tpl:EntryURL}}"
        title="{{tpl:lang Continue reading}} {{tpl:EntryTitle encode_html="1"}}">{{tpl:lang Continue
        reading}}</a><span class="readmore-ellipsis">...</span></p>
      </tpl:EntryIf>
      <!-- # Entry without excerpt -->
      <tpl:EntryIf extended="0">
        <div class="post-content">{{tpl:EntryContent}}</div>
      </tpl:EntryIf>
      <!-- # --BEHAVIOR-- publicEntryAfterContent -->
      {{tpl:SysBehavior behavior="publicEntryAfterContent"}}
      <!-- # Number of comments, trackbacks and attachments -->
      <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
        <p class="post-info-co">
      </tpl:EntryIf>
      <tpl:EntryIf show_comments="1">
        <a href="{{tpl:EntryURL}}#comments" class="comment_count">{{tpl:EntryCommentCount}}</a>
      </tpl:EntryIf>
      <tpl:EntryIf show_pings="1">
        <a href="{{tpl:EntryURL}}#pings" class="ping_count">{{tpl:EntryPingCount}}</a></tpl:EntryIf>
      <tpl:EntryIf has_attachment="1">
        <a href="{{tpl:EntryURL}}#attachments" class="attach_count">{{tpl:EntryAttachmentCount}}</a></tpl:EntryIf>
      <tpl:EntryIf operator="or" show_comments="1" show_pings="1" has_attachment="1">
        </p>
      </tpl:EntryIf>
    </div>
    <tpl:EntriesFooter>
      <tpl:Pagination>
        <p class="pagination">
          <tpl:PaginationIf end="0"><a href="{{tpl:PaginationURL offset="+1"}}" class="prev">&#171;
        {{tpl:lang previous entries}}</a> - </tpl:PaginationIf>
          {{tpl:lang page}} {{tpl:PaginationCurrent}} {{tpl:lang of}} {{tpl:PaginationCounter}}
          <tpl:PaginationIf start="0"> - <a href="{{tpl:PaginationURL offset="-1"}}" class="next">{{tpl:lang next entries}}
        &#187;</a></tpl:PaginationIf>
        </p>
      </tpl:Pagination>
    </tpl:EntriesFooter>
  </tpl:Entries>
</tpl:Block>
