/* Override CSS style for AviGNU's wiki. */

body {
    color: #000;
    background: #fff !important;
    margin: 0;
    padding: 0;
    font-size: 96%, sans-serif;
}

/* Disable link icons */
.dokuwiki a.urlextern,
.dokuwiki a.interwiki,
.dokuwiki a.windows,
.dokuwiki a.mail,
.dokuwiki a.media {
    padding-left: 0 !important;
    background: none !important;
}

a:hover,
a:link:hover {
    color: #054fb9;
    text-decoration: underline;
}

/* Interwiki */
.dokuwiki a.wikilink1,
.dokuwiki a.wikilink1:link,
.dokuwiki a.wikilink1:visited,
.dokuwiki a.wikilink1:focus {
    color: #0073e6;
    text-decoration: none;
}

.dokuwiki a.wikilink1:hover,
.dokuwiki a.wikilink1:link:hover {
    color: #054fb9;
    text-decoration: underline;
}

/* Header */
#dokuwiki__header {
    /*padding: 2em 0 1.5em;*/
    padding: 2em .3em 1.5em;
    height: 155px;
}

#dokuwiki__header .logo img {
    float: left;
    margin-right: .5em;
    height: 155px !important;
    width: auto;
}

#dokuwiki__usertools a svg {
    fill: #0073e6 !important;
}
#dokuwiki__usertools a:hover,
#dokuwiki__usertools a:link:hover,
#dokuwiki__sitetools a:hover,
#dokuwiki__sitetools a:link:hover {
    color:#054fb9;
    text-decoration: underline;
}
#dokuwiki__usertools a:hover svg,
#dokuwiki__usertools a:link:hover svg {
    fill: #054fb9 !important;
}

#dokuwiki__pagetools a svg {
    fill: #0073e6 !important;
}
#dokuwiki__pagetools a:active,
#dokuwiki__pagetools a:focus,
#dokuwiki__pagetools a:hover {
    text-decoration: underline;
    color: #054fb9;
}
#dokuwiki__pagetools a:active svg,
#dokuwiki__pagetools a:focus svg,
#dokuwiki__pagetools a:hover svg {
    fill: #054fb9 !important;
}

/* Content */
.dokuwiki .pageId {
    display: none;
}

.dokuwiki .page {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

/* Sidebar */
.dokuwiki .aside a:hover,
.dokuwiki .aside a:link:hover {
    color: #054fb9;
    text-decoration: underline;
}

.dokuwiki .aside h2 {
    border-bottom: 2px solid #e6308a;
}

.dokuwiki .aside li {
    list-style: none !important;
}

.dokuwiki .admin_tasks a {
    color: #0073e6;
    text-decoration: none;
}
.dokuwiki .admin_tasks a:hover {
    color: #054fb9;
    text-decoration: underline;
}
.dokuwiki .admin_tasks ul {
}
.dokuwiki .admin_tasks svg path {
    fill: #0073e6 !important;
}
.dokuwiki .admin_tasks svg:active,
.dokuwiki .admin_tasks svg:focus,
.dokuwiki .admin_tasks svg:hover {
    fill: #054fb9 !important;
}
.dokuwiki .admin_tasks svg:hover path {
    fill: #054fb9 !important;
}

/* Footer */
#dokuwiki__footer {
    color: #565656;
}

#dokuwiki__footer a,
#dokuwiki__footer a:link {
    text-decoration: underline;
    color: #565656;
}

#dokuwiki__footer a:hover,
#dokuwiki__footer a:link:hover {
    text-decoration: none;
    color: #444444;
}
